@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');

:root {
/* 
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; 
*/

    /* Override Variables */
    --font-family-sans-serif: 'Source Sans Pro', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --gray-dark: #404040;
    --purple: #533777;
  


    /* Page Variables */
    --font-family-serif: Merriweather, serif;
    --font-family-text: var(--font-family-serif);
    --color-text: var(--gray-dark);
    --light-blue: #e1f7f5;
    --light-purple: #c290d2;

}

.family-sans {
    font-family: var(--font-family-sans-serif);
}

.icon {
    display: inline-block;
    font-size: inherit;
    overflow: visible;
    vertical-align: -0.125;
    text-rendering: auto;
    fill: gray !important;
    width: 50px;
    height: 50px;
}

/* @keyframes fademein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fademein {
    opacity: 0;
    animation-name: fademein;
    animation-duration: 4s;
    animation-delay: 2s;
}
 */

.animated {
    visibility: visible !important;
}

body {
    font-family: var(--font-family-text);
    color: var(--color-text);
    font-weight: 200;
}

.site-header {
    background: url(../images/hero.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header .animated {
    animation-delay: 1s;
    animation-duration: 1s;
}

.layout-text {
    font-size: 1em;
}

.site-nav {
    background: var(--purple);
}

.site-nav.inbody{
    background: var(--purple);
}

.site-header .layout-hero {
    min-height: 80vh;
}

.site-header .page-section-title {
    font-size: 3em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
}

.site-header .page-section-text {
    font-size: 1.2em;
}

.site-header .nav-link {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 2px;
}

/* .site-header .nav-link:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--yellow);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.site-header .nav-link:hover:before {
    visibility: visible;
    left: 0;
    transform: scaleX(1);
} */


#page-multcolumn {
    background: var(--light-blue);
}

.layout-multicolumn .layout-image {
    transition: all 0.3s ease-out;
}

.layout-multicolumn .layout-image:hover {
    transform: scale(1.1) translateY(-3px);
}

.page-section-header .page-section-title {
    font-size: 4em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    color: var(--purple);
}

.page-section-header .page-section-text {
    font-size: 1.2em;
    font-weight: 200;
}

.layout-media .layout-image {
    max-width: 200px;
}

.layout-media .layout-title {
    color: var(--purple);
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    font-size: 1.5em;
}

#page-carousel {
    background: var(--light-purple);
}

.layout-nested .layout-title {
    color: var(--purple);
    font-family: var(--font-family-sans-serif);
    font-size: 2.2em;
}

.layout-nested_correction {
    margin-top: 21px;
}

#page-floater {
    background: var(--light-blue);
}


.layout-social .layout-icon {
    font-size: 1.8em;
}




/******************** MEDIA SCREEN  *********************/

@media screen and (min-width: 992px) {
    #page-floater {
        margin: 100px 0 150px 0;
    }
    .layout-floater .layout-container {
        position: relative;
    }
    .layout-floater .layout-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(12deg) scale(1.2);
    }
    .layout-nested_bloco2 {
        margin-top: 21px;
    }
}

@media screen and (max-width: 767px) {
    #page-floater .layout-container{
        margin-bottom: 20px;
    }
}